h1 {
  color: white;
  font-family:'Times New Roman', Times, serif;
  font-size:larger;
  font-weight: 500;
text-align: center; 
margin-top: 80px;
font-style: oblique;
}
.Container {
  background-color: black;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.RCB{
  height:150px;
  width:150px;
  margin-top: 85px;
 border-radius: 85px;
margin-left: 245px; 
}
.CSK{
  height:150px;
  width:150px;
  border-radius: 85px;
  }

.insideCard {
  background-image: linear-gradient(
    Orange,red,yellow);
  height: 53vh;
  width: 80vh;
  background-size: cover;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

 p {
  margin: 5px;
  padding: 5px;
  color: #1a293b;
  font-size: 15px;
  font-family: "Roboto";
}

